.custom-navbar {
    background-color: rgb(98, 195, 228);
}

.custom-class {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
  
/* Prevent horizontal scrolling when the navbar is collapsed */
body {
    overflow-x: hidden;
}

.form-container .row {
    margin: 20px;
}

/* Add spacing from the borders of the container */
.form-container {
    padding: 10px; /* Adjust the value as needed */
}