.custom-navbar {
    background-color: rgb(98, 195, 228);
}

.custom-class {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

body {
    overflow-x: hidden;
}

.form-container .row {
    margin: 20px;
}

.show-container {
    margin: 20px;
}

.form-container {
    padding: 10px;
}

.login-signup-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.login-signup-container Form.Group,
.login-signup-container h2,
.login-signup-container .alert,
.login-signup-container Form.Control
.login-signup-container Button,
.login-signup-container .message {
  margin: 10px;
}

.form-field {
    margin-bottom: 10px;
}
#guestLayout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


body {
    background-image: url(./images/sharepoint-ticketing.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh; /* Set the height to 100% of the viewport height */
}

.custom-navbar .nav-link.active-link {
    font-weight: bold;
    color: white; /* Change this to your desired color */
}

.custom {
    color: white;
}
